.creator-header {
  background-color: #222222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  min-height: 45px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);

  .pb-btn-blue {
    background-color: #009cff;
    border-color: #009cff;
    padding: 0px 12px;
  }

  .pb-btn-green {
    background-color: #39b54a;
    border-color: #39b54a;
  }

  .nav-brn {
    color: #fff;
    font-weight: 700;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .btn {
    outline: none;
    box-shadow: none;
  }

  .button-text {
    color: #fff;
    font-weight: 700;
    line-height: 1.42857143;
    text-align: center;
  }

  .header-logo {
    background-image: url('https://s3.amazonaws.com/pb-format-story-dev/mobile-creator/pblogo.png');
    background-repeat: no-repeat;
    height: 33px;
    margin: 6px;
    width: 135px;
    background-size: contain;
  }

  .header-icons {
    .header-icons-list {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        font-size: 14px;
        display: inline;
        padding: 0 5px;
      }

      .btn {
        color: darkgrey;
        padding: 0 5px;
        min-width: 60px;
        line-height: 2.428571;
        font-size: 13px;
        border-radius: 5px;
      }
    }
  }
}
