.intro {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(https://img.playbuzz.com/image/upload/c_crop/v1527765711/e3bglyqrdw8iz5cjasiu.gif) center / cover;

  .text1 {
    color: #fff;
    font-weight: 700;
    font-size: 57px;
    text-align: center;
    padding-bottom: 34px;
    padding-top: 69px;
  }

  .text2 {
    color: #fff;
    font-weight: 700;
    font-size: 27px;
    text-align: center;
    padding: 10px;
  }

  .input1 {
    position: absolute;
    top: 200px;
    left: 20px;
  }

  .mdl-textfield__label {
    color: #fff;
  }

  .mdl-textfield__input {
    color: #fff;
    border-bottom: 1px solid #fff;
    outline: none;
  }

  .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: #fff;
  }

  .create-btn {
    position: absolute;
    top: 281px;
    left: 35%;
  }

  .mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    background-color: #bc49ff;
  }

  .logo {
    position: absolute;
    left: 0;
    bottom: 9px;
    width: 50%;
    height: 56px;
  }
}
